function Main.main 3
call Sphere.new 0
pop local 0
push local 0
call Sphere.draw 1
pop temp 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 2
push local 2
push constant 140
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 2
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 5
neg
call Sphere.rotateY 2
pop temp 0
label IF_FALSE1
push local 2
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 5
call Sphere.rotateY 2
pop temp 0
label IF_FALSE2
push local 2
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 5
neg
call Sphere.rotateX 2
pop temp 0
label IF_FALSE3
push local 2
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 5
call Sphere.rotateX 2
pop temp 0
label IF_FALSE4
push local 2
push constant 129
gt
push local 2
push constant 134
lt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call Sphere.draw 1
pop temp 0
label IF_FALSE5
goto WHILE_EXP0
label WHILE_END0
push local 0
call Sphere.dispose 1
pop temp 0
push constant 0
return
